<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  
  <p>   Splurty was built by <a target="_blank" href="http://github.com/MattMcCarthy11">Matt McCarthy</a></p>

  
  <p>Matt is working to become a confident full stack developer over the summer. </p>
    <hr /> 
  
<div class="col-xs-12 col-sm-4">
    <%= image_tag 'matt.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Matt McCarthy </h2>
  <br \>
  <p>I am a contrarian who has a passion for innovation in all areas in life. I believe that through the power of technology we can empower the disadvantaged to have an equal playing field. I find it is only inevitable that as the internet continues to spread to the developing world. We will see a global market of small local entrepreneurs selling their craft or skill to the global community. My life mission is to accelerate this change through aspects such as drones, and widespread affordable internet education.</p>
  
</div>
</div>



<br class="clear" />
<br />
<br />
<br />
<br />